

:host {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
  }

.carousel {
        margin: auto;
        width: 50%;
        height: 400px;
        border: 3px solid black;
        padding: 50px;
      }

 img {

     width: 400;
     height: 400;

     margin: auto
 }
    


