<header>
    <nav>
        <ul>
            <li>
                <a routerLink="/items/catalog">Catalog</a>
            </li>

            <li>
                <a routerLink="/items/create">Create</a>
            </li>
             <li>
                <a routerLink="/auth/profile">Profile</a>
            </li> 
            <li>
                <a routerLink="/auth/logout">Logout</a>
            </li>

            <li>
                <a routerLink="/auth/login">Login</a>
            </li>
            <li>
                <a routerLink="/auth/register">Register</a>
            </li>

        </ul>
    </nav>
</header>