<header>
    <nav>
        <ul>
            <li>
                <a routerLink="/items/catalog">Catalog</a>
            </li>
            <li>
                <a routerLink="/">Home</a>
            </li>

            <li>
                <a routerLink="/items/dress/create">Sell your clothes</a>
            </li>

            <li>
                <a routerLink="items/myOrders">My orders</a>
            </li>

            <li>
                <a routerLink="/items/shoes/create">Sell your shoes</a>
            </li>
             <li>
                <a routerLink="/auth/profile">Profile</a>
            </li> 
            <li>
                <a routerLink="/auth/logout">Logout</a>
            </li>

            <li>
                <a routerLink="/auth/login">Login</a>
            </li>
            <li>
                <a routerLink="/auth/register">Register</a>
            </li>

        </ul>
    </nav>
</header>