<div class="container">
  <div class="row">
    <div class="col-md-3">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Price: 10
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Details</button>
      <button mat-button>Add to cart</button>
    </mat-card-actions>
  </mat-card>
  </div>
   
  <div class="col-md-3">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      Price: 10
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Details</button>
    <button mat-button>Add to cart</button>
  </mat-card-actions>
</mat-card>
</div>

<div class="col-md-3">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
<mat-card-content>
  <p>
    Price: 10
  </p>
</mat-card-content>
<mat-card-actions>
  <button mat-button>Details</button>
  <button mat-button>Add to cart</button>
</mat-card-actions>
</mat-card>
</div>

<div class="col-md-3">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
<mat-card-content>
  <p>
    Price: 10
  </p>
</mat-card-content>
<mat-card-actions>
  <button mat-button>Details</button>
  <button mat-button>Add to cart</button>
</mat-card-actions>
</mat-card>
</div>

<div class="col-md-3">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
<mat-card-content>
  <p>
    Price: 10
  </p>
</mat-card-content>
<mat-card-actions>
  <button mat-button>Details</button>
  <button mat-button>Add to cart</button>
</mat-card-actions>
</mat-card>
</div>

<div class="col-md-3">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
<mat-card-content>
  <p>
    Price: 10
  </p>
</mat-card-content>
<mat-card-actions>
  <button mat-button>Details</button>
  <button mat-button>Add to cart</button>
</mat-card-actions>
</mat-card>
</div>


<div class="col-md-3">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
<mat-card-content>
  <p>
    Price: 10
  </p>
</mat-card-content>
<mat-card-actions>
  <button mat-button>Details</button>
  <button mat-button>Add to cart</button>
</mat-card-actions>
</mat-card>
</div>


<div class="col-md-3">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
<mat-card-content>
  <p>
    Price: 10
  </p>
</mat-card-content>
<mat-card-actions>
  <button mat-button>Details</button>
  <button mat-button>Add to cart</button>
</mat-card-actions>
</mat-card>
</div>


<div class="col-md-3">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
<mat-card-content>
  <p>
    Price: 10
  </p>
</mat-card-content>
<mat-card-actions>
  <button mat-button>Details</button>
  <button mat-button>Add to cart</button>
</mat-card-actions>
</mat-card>
</div>



<div class="col-md-3">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
<mat-card-content>
  <p>
    Price: 10
  </p>
</mat-card-content>
<mat-card-actions>
  <button mat-button>Details</button>
  <button mat-button>Add to cart</button>
</mat-card-actions>
</mat-card>
</div>

<div class="col-md-3">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
<mat-card-content>
  <p>
    Price: 10
  </p>
</mat-card-content>
<mat-card-actions>
  <button mat-button>Details</button>
  <button mat-button>Add to cart</button>
</mat-card-actions>
</mat-card>
</div>

<div class="col-md-3">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
<mat-card-content>
  <p>
    Price: 10
  </p>
</mat-card-content>
<mat-card-actions>
  <button mat-button>Details</button>
  <button mat-button>Add to cart</button>
</mat-card-actions>
</mat-card>
</div>

<div class="col-md-3">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
<mat-card-content>
  <p>
    Price: 10
  </p>
</mat-card-content>
<mat-card-actions>
  <button mat-button>Details</button>
  <button mat-button>Add to cart</button>
</mat-card-actions>
</mat-card>
</div>
<div class="pagination">

  <mat-paginator [length]="200" [pageSizeOptions]="[4, 8, 12]" aria-label="Select page">
  </mat-paginator>
</div>