:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

mat-card {
    padding: 10px;
    margin: 10px;
    background: pink;
  }

  .card-data {
    max-height: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
.example-card {
    max-width: 300px;
  }
  
  .example-header-image {
    //background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .pagination {
    left: 0;
    bottom: 0;
    position: fixed;
    justify-content: center;
}